In [1]:
import csv
import pandas as pd
import numpy as np
import os
from sklearn.utils import shuffle  
dataSrc = "data/"
imageSrc = "data/ImageData/"

trainCSV = dataSrc + "train.csv"
testCSV = dataSrc + "test.csv"

destTrain = dataSrc + "train_image.csv"
destTest = dataSrc + "test_image.csv"

In [2]:
trainData = pd.read_csv(trainCSV,header="infer",sep=',')
testData = pd.read_csv(testCSV,header="infer",sep=',')

In [3]:
TrueList=[]   
for root, dirs, files in os.walk(imageSrc + "True/"):  
    for file in files:  
        if os.path.splitext(file)[1] == '.jpg':  
            TrueList.append(os.path.splitext(file)[0])
            
FalseList=[]   
for root, dirs, files in os.walk(imageSrc + "False/"):  
    for file in files:  
        if os.path.splitext(file)[1] == '.jpg':  
            FalseList.append(os.path.splitext(file)[0])
TrueList = pd.core.frame.DataFrame(TrueList, columns=['image'])
FalseList = pd.core.frame.DataFrame(FalseList, columns=['image'])

In [4]:
trainData[trainData['label'] == 1].count()

Unnamed: 0        1663
label             1663
age               1663
gender            1663
education         1663
marriageStatus    1663
haveBaby          1663
hometown          1663
residence         1663
dtype: int64

In [5]:
testData[testData['label'] == 1].count()

Unnamed: 0        337
label             337
age               337
gender            337
education         337
marriageStatus    337
haveBaby          337
hometown          337
residence         337
dtype: int64

In [6]:
trainData[trainData['label'] == 0].count()

Unnamed: 0        3337
label             3337
age               3337
gender            3337
education         3337
marriageStatus    3337
haveBaby          3337
hometown          3337
residence         3337
dtype: int64

In [7]:
tempTrainY = trainData[trainData['label'] == 1].reset_index().drop(columns=['index', 'Unnamed: 0'])
tempTrainY = tempTrainY.merge(TrueList,left_index = True, right_index = True, how = 'left')

tempTestY = testData[testData['label'] == 1].reset_index().drop(columns=['index', 'Unnamed: 0'])
tempTestY = tempTestY.merge(TrueList[1663:].reset_index(),left_index = True, right_index = True, how = 'left')

tempTrainN = trainData[trainData['label'] == 0].reset_index().drop(columns=['index', 'Unnamed: 0'])
tempTrainN = tempTrainN.merge(FalseList,left_index = True, right_index = True, how = 'left')

tempTestN = testData[testData['label'] == 0].reset_index().drop(columns=['index', 'Unnamed: 0'])
tempTestN = tempTestN.merge(FalseList[3337:].reset_index(),left_index = True, right_index = True, how = 'left')

In [8]:
trainData = shuffle(pd.concat([tempTrainY,tempTrainN])).reset_index().drop(columns=['index'])
testData = shuffle(pd.concat([tempTestY,tempTestN])).reset_index().drop(columns=['index','level_0'])

In [9]:
trainData.head()

,label,age,gender,education,marriageStatus,haveBaby,hometown,residence,image
0,0,17,2,3,2,0,910,910,"2315361763,1473038887"
1,0,10,2,4,0,0,504,504,"267572243,1880542342"
2,0,11,2,4,0,1,2005,2005,"142919853,1577516793"
3,1,11,2,4,2,1,0,1704,005u7RWwly1fk4wka3g5qj31kw2d74jl
4,0,34,2,2,2,1,307,308,"2089634955,955397464"

In [10]:
testData.head()

,label,age,gender,education,marriageStatus,haveBaby,hometown,residence,image
0,0,0,0,0,0,0,0,1006,"992489092,3784984952"
1,0,14,2,1,0,0,809,805,"715016073,3290148129"
2,0,26,1,2,1,0,0,1606,"52918288,310360213"
3,1,13,1,0,0,0,0,601,a2c9d1e5ly1fl854wp2i2j20m80vlacu
4,0,0,0,0,2,0,0,307,"674752037,3421601606"

In [11]:
trainData.to_csv(destTrain)
testData.to_csv(destTest)